$color_text:rgb(0, 255, 106);





@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-Black.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-BlackItalic.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-Bold.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-ExtraBoldItalic.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-Italic.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-LightItalic.ttf) format("truetype");
}


@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-Medium.ttf) format("truetype");
}


@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-MediumItalic.ttf) format("truetype");
}


@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-Regular.ttf) format("truetype");
}


@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-SemiBoldItalic.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-Thin.ttf) format("truetype");
}


@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-ThinItalic.ttf) format("truetype");
}

@font-face {
    font-family: 'raleway';
    src: url(./fonts/raleway/Raleway-ExtraBold.ttf) format("truetype");
}







html,
body {
    width: 100%;
    height: 100%;
}



#header {
    background: url(./images/mountain.jpg);
    background-size: 100%;
    width: 100%;
    height: 100%;
    display: inline-block;

    #menu {
        width: 5%;
        height: 100%;
        background: white;
        position: fixed;
        z-index: 10;

        img {
            margin-top: 100%;
            margin-left: 40%;
        }

        a {
            text-decoration: none;

            h5 {
                font-family: 'Raleway';
                font-style: 'ExtraBold';
                color: rgba(0, 0, 0, 0.445);
                font-size: 100%;
            }
        }

        h4 {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            font-family: 'Raleway';
            font-size: 'Regular';
            color: gray;
            margin-top: 400%;
            font-size: 120%;
        }

        .vk {
            margin-top: 0%;
        }


        h3 {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            font-family: 'Raleway';
            font-size: 'Regular';
            color: gray;
            font-size: 120%;
            margin-left: 32%;
            margin-top: 50%;
        }

        .insta {
            margin-top: 0%;
        }


    }



    #top {
        position: absolute;
        content: "";
        width: 95%;
        height: 100%;
        background: rgba(0, 0, 0, 0.479);
        background-size: cover;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: 5%;
        display: inline-block;


        #v_1 {
            #part_1 {

                img {
                    margin-left: 7%;
                    margin-top: 5%;
                }
            }

            #part_2 {

                h4 {
                    margin-left: 60%;
                    margin-top: 5%;
                    font-family: 'Raleway';
                    font-size: 'ExtraBold';
                    color: white;
                }

                h3 {
                    font-family: 'Raleway';
                    font-style: 'SemiBold';
                    color: white;
                    font-size: 120%;
                    margin-left: 60%;
                }
            }
        }

        #v_2 {
            #part_1 {
                h3 {
                    font-family: 'Raleway-ExtraBold';
                    font-style: 'ExtraBold';
                    color: $color_text;
                    margin-top: 15%;
                    margin-left: 10%;
                }

                h1 {
                    font-family: 'Raleway';
                    font-style: 'SemiBold';
                    color: white;
                    margin-left: 9%;
                }
            }

            #part_2 {
                img {
                    margin-left: 90%;
                    margin-top: 30%;
                }
            }
        }

        #v_3 {
            h3 {
                font-family: 'Raleway-SemiBold';
                font-style: 'SemiBold';
                color: white;
                width: 22%;
                margin-left: 5%;
                margin-top: 10%;
            }
        }

        #v_4 {
            button {
                background: $color_text;
                cursor: pointer;
                font-family: 'Raleway';
                font-style: 'ExtraBold';
                color: white;
                margin-top: 4.7%;
                margin-left: 80%;
            }
        }
    }



}

@media (min-width:1900px) {
    #header {
        #top {
            #v_3 {
                h3 {
                    width: 18%;
                }
            }

            #v_4 {
                button {
                    margin-top: 11.7%;
                }
            }
        }
    }
}

#main {
    width: 100%;
    height: 100%;
    display: flex;

    #part_1 {
        background: url(./images/Layer.png);
        width: 100%;
        height: 100%;
        background-size: cover;

        img {
            margin-left: 50%;
            margin-top: 40%;
        }

        h5 {
            margin-left: 45%;
            font-family: 'Raleway';
            font-style: 'bold';
            color: white;
        }
    }

    #part_2 {
        width: 100%;
        margin-left: 5%;

        h1 {
            font-family: 'Raleway';
            font-style: 'Bold';
            margin-left: 5%;
            margin-top: 15%;
        }

        #text {
            display: flex;

            h5 {
                font-family: 'Raleway';
                font-style: 'ExtraBold';
                margin-left: 10%;
                margin-top: 10%;
            }

            img {
                margin-top: 30%;
                margin-left: 10%;
            }
        }

        .row {
            width: 110%;
            height: 20%;
            margin-top: 20%;

            .part_1 {
                img {
                    margin-left: 30%;
                }

                font-family: 'Raleway';
                font-style: 'Regular';
            }

            .part_2 {
                margin-left: 5%;
                font-family: 'Raleway';
                font-style: 'Regular';

                img {
                    margin-left: 30%;
                }

            }
        }
    }
}


.text {
    margin-top: 15%;
    font-family: 'Raleway';
    font-style: 'ExtraBold';
}


#content {
    #v_1 {
        #part_1 {
            .slide {
                margin-left: 25%;
                margin-top: 22%;

                h4 {
                    font-family: 'Raleway';
                    font-style: 'Regular';
                    font-size: 130%;

                    span {
                        color: $color_text;
                        font-family: 'Raleway';
                        font-style: 'ExtraBold';
                    }
                }
            }

            h5 {
                font-family: 'Raleway';
                font-style: 'ExtraBold';
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                color: rgba(0, 0, 0, 0.425);
                font-size: 100%;
            }
        }

        #part_2 {
            margin-top: 10%;

            h1 {
                font-family: 'Raleway-Light';

                span {
                    color: $color_text;
                }
            }
        }
    }

    #v_2 {
        #part_1 {
            margin-top: 10%;

            h1 {
                font-family: 'Raleway-Light';
            }

            span {
                color: $color_text;
            }
        }

        #part_2 {
            .slide {
                margin-top: 20%;
                margin-left: 20%;

                h4 {
                    font-family: 'Raleway';
                    font-style: 'Regular';
                    font-size: 150%;

                    span {
                        color: $color_text;
                    }
                }
            }

            h5 {
                font-size: 100%;
                font-family: 'Raleway';
                font-style: 'ExtraBold';
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                color: rgba(0, 0, 0, 0.425);
            }
        }
    }
}


#footer {
    background: rgba(0, 0, 0, 0.678);
    width: 100%;
    height: 50%;
    background-size: cover;
    margin-top: 10%;

    .row {
        #part_1 {
            h4 {
                margin-top: 10%;
                font-family: 'Raleway';
                font-style: 'ExtraBold';
                color: rgba(0, 0, 0, 0.37);
            }

            h5 {
                font-family: 'Raleway-Light';
                color: white;
            }
        }

        #part_2 {
            h4 {
                margin-top: 10%;
                font-family: 'Raleway';
                font-style: 'ExtraBold';
                color: rgba(0, 0, 0, 0.37);
            }

            h5 {
                font-family: 'Raleway-Light';
                color: white;
            }
        }
    }
}