$color_text:rgb(0, 255, 106);





@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-Black.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-BlackItalic.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-Bold.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-ExtraBoldItalic.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-Italic.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-LightItalic.ttf) format("truetype");
}


@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-Light.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-Medium.ttf) format("truetype");
}


@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-MediumItalic.ttf) format("truetype");
}


@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-Regular.ttf) format("truetype");
}


@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-SemiBoldItalic.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-Thin.ttf) format("truetype");
}


@font-face {
    font-family: 'Raleway';
    src: url(./fonts/raleway/Raleway-ThinItalic.ttf) format("truetype");
}

@font-face {
    font-family: 'raleway';
    src: url('./fonts/raleway/Raleway-ExtraBold.ttf') format("truetype");
}

body {
    width: 110%;
    height: 100%;
}

#header {
    height: 755px;
    width: 101%;
    border: 0px solid black;
    background: url(images/mountain.jpg) no-repeat;
    background-size: cover;
    display: flex;

    #top:before {
        position: absolute;
        content: "";
        height: 100%;
        width: 101%;
        background: rgba(0, 0, 0, .5);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    #top {
        background-size: 100%;
        height: 755px;

        #v_1 {
            #part_1 {
                img {
                    margin-top: 10%;
                    margin-left: 10%;
                }
            }

            #part_2 {
                h3 {
                    margin-left: 60%;
                    margin-top: 10%;
                    font-family: 'Raleway-ExtraBold';
                    color: white;
                }

                h4 {
                    margin-left: 60%;
                    font-family: 'Raleway-SemiBold';
                    color: white;
                }
            }
        }

        #v_2 {
            #part_1 {
                h3 {
                    color: $color_text;
                    font-family: 'Raleway-ExtraBold';
                    margin-top: 11%;
                    margin-left: 10%;
                }

                h1 {
                    color: white;
                    font-family: 'Raleway-SemiBold';
                    width: 70%;
                    margin-left: 10%;
                }
            }

            #part_2 {
                img {
                    margin-left: 90%;
                    margin-top: 30%;
                }
            }
        }

        #v_3 {
            #part_1 {
                h3 {
                    color: white;
                    font-family: 'Raleway-SemiBold';
                    width: 29%;
                    margin-top: 20%;
                    margin-left: 3%;
                }
            }

            #part_2 {
                button {
                    background: $color_text;
                    height: 15%;
                    width: 100%;
                    cursor: pointer;
                    font-family: 'Raleway-ExtraBold';
                    margin-top: 145%;

                }
            }
        }
    }

    #menu {
        background: white;

        a {
            img {
                margin-top: 10%;
                margin-left: 5%;
            }
        }
    }
}



#main {
    #one {
        background: url("./images/Layer\ 7.png") no-repeat;
        background-size: cover;
        height: 755px;
        width: 60%;
        border: 0px solid black;

        #menu {
            width: 10%;
            height: 100%;
            border: 0px;
            background: white;
        }
    }
}